@model IEnumerable<GestorAlquilerVehiculos.Models.Reporte>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Reportes</h1>

<form asp-action="PrintReporte" method="post" id="filterForm" class="form-inline mb-3">
    <div class="form-group mr-2 mb-3">
        <label for="reportType" class="mr-2">Tipo de Reporte:</label>
        <select id="reportType" name="reportType" class="form-select">
            <option value="EstadoFlota">Estado de la Flota</option>
            <option value="Ingresos">Ingresos</option>
            <option value="Alquileres">Alquileres</option>
        </select>
    </div>
    <div id="dateSelectors" style="display:none;" class="form-group mr-2  mb-3">
        <label for="startDate" class="mr-2">Fecha Inicio:</label>
        <input type="date" id="startDate" name="startDate" class="form-control mx-2" />
        <label for="endDate" class="mr-2">Fecha Fin:</label>
        <input type="date" id="endDate" name="endDate" class="form-control mx-2" />
    </div>
    <button type="submit" class="btn btn-primary">Generar Reporte</button>
</form>


@section Scripts {
    <script>
        (function() {
            var reportType = document.getElementById('reportType');
            var dateSelectors = document.getElementById('dateSelectors');

            function toggleDates() {
                var val = reportType.value;
                if (val === 'Ingresos' || val === 'Alquileres') {
                    dateSelectors.style.display = 'flex';
                } else {
                    dateSelectors.style.display = 'none';
                }
            }

            reportType.addEventListener('change', toggleDates);
            toggleDates();
        })();
    </script>
}