@{
    ViewData["Title"] = "Sobre Nosotros";
}

<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('@Url.Content("~/images/bg_3.jpg")');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs">
                    <span class="mr-2"><a href="/">Inicio <i class="ion-ios-arrow-forward"></i></a></span>
                    <span>Sobre Nosotros <i class="ion-ios-arrow-forward"></i></span>
                </p>
                <h1 class="mb-3 bread">Sobre Nosotros</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-about">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url('@Url.Content("~/images/about.jpg")');">
            </div>
            <div class="col-md-6 wrap-about ftco-animate">
                <div class="heading-section heading-section-white pl-md-5">
                    <span class="subheading">Sobre Nosotros</span>
                    <h2 class="mb-4">Bienvenido a Carbook</h2>
                    <p>Un pequeño río llamado Duden fluye por su lugar y lo abastece con la regelialia necesaria...</p>
                    <p>En su camino, se encontró con una copia. La copia advirtió al pequeño texto ciego...</p>
                    <p><a href="#" class="btn btn-primary py-3 px-4">Buscar Vehículo</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-intro" style="background-image: url('@Url.Content("~/images/bg_3.jpg")');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-6 heading-section heading-section-white ftco-animate">
                <h2 class="mb-3">¿Quieres ganar con nosotros? No llegues tarde.</h2>
                <a href="#" class="btn btn-primary btn-lg">Conviértete en Conductor</a>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section testimony-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">Testimonios</span>
                <h2 class="mb-3">Clientes Satisfechos</h2>
            </div>
        </div>
        <div class="row ftco-animate">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel ftco-owl">
                    <div class="item">
                        <div class="testimony-wrap rounded text-center py-4 pb-5">
                            <div class="user-img mb-2" style="background-image: url('@Url.Content("~/images/person_1.jpg")')"></div>
                            <div class="text pt-4">
                                <p class="mb-4">Muy muy lejos, detrás de las montañas de palabras...</p>
                                <p class="name">Roger Scott</p>
                                <span class="position">Gerente de Marketing</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-counter ftco-section img" id="section-counter">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text text-border d-flex align-items-center">
                        <strong class="number" data-number="60">0</strong>
                        <span>Años <br>de Experiencia</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text text-border d-flex align-items-center">
                        <strong class="number" data-number="1090">0</strong>
                        <span>Total de <br>Vehículos</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text text-border d-flex align-items-center">
                        <strong class="number" data-number="2590">0</strong>
                        <span>Clientes <br>Satisfechos</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text d-flex align-items-center">
                        <strong class="number" data-number="67">0</strong>
                        <span>Total de <br>Sucursales</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>