@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero-wrap ftco-degree-bg" style="background-image: url('images/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text justify-content-start align-items-center justify-content-center">
            <div class="col-lg-8 ftco-animate">
                <div class="text w-100 text-center mb-md-5 pb-md-5">
                    <h1 class="mb-4">Forma Rápida y Fácil de Alquilar un Auto</h1>
                    <p style="font-size: 18px;">Un pequeño río llamado Duden pasa por su lugar y lo abastece con lo necesario.</p>
                    <a href="https://vimeo.com/45830194" class="icon-wrap popup-vimeo d-flex align-items-center mt-4 justify-content-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="ion-ios-play"></span>
                        </div>
                        <div class="heading-title ml-5">
                            <span>Pasos fáciles para alquilar un auto</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section ftco-no-pt bg-light">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-12 featured-top">
                <div class="row no-gutters">
                    <div class="col-md-4 d-flex align-items-center">
                        <form action="#" class="request-form ftco-animate bg-primary">
                            <h2>Haz tu viaje</h2>
                            <div class="form-group">
                                <label for="" class="label">Lugar de recogida</label>
                                <input type="text" class="form-control" placeholder="Ciudad, Aeropuerto, Estación, etc">
                            </div>
                            <div class="form-group">
                                <label for="" class="label">Lugar de entrega</label>
                                <input type="text" class="form-control" placeholder="Ciudad, Aeropuerto, Estación, etc">
                            </div>
                            <div class="d-flex">
                                <div class="form-group mr-2">
                                    <label for="" class="label">Fecha de recogida</label>
                                    <input type="text" class="form-control" id="book_pick_date" placeholder="Fecha">
                                </div>
                                <div class="form-group ml-2">
                                    <label for="" class="label">Fecha de entrega</label>
                                    <input type="text" class="form-control" id="book_off_date" placeholder="Fecha">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="label">Hora de recogida</label>
                                <input type="text" class="form-control" id="time_pick" placeholder="Hora">
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Alquila un Auto Ahora" class="btn btn-secondary py-3 px-4">
                            </div>
                        </form>
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                        <div class="services-wrap rounded-right w-100">
                            <h3 class="heading-section mb-4">La Mejor Manera de Alquilar tu Auto Perfecto</h3>
                            <div class="row d-flex mb-4">
                                <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                    <div class="services w-100 text-center">
                                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-route"></span></div>
                                        <div class="text w-100">
                                            <h3 class="heading mb-2">Elige tu lugar de recogida</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                    <div class="services w-100 text-center">
                                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-handshake"></span></div>
                                        <div class="text w-100">
                                            <h3 class="heading mb-2">Selecciona la mejor oferta</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                    <div class="services w-100 text-center">
                                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-rent"></span></div>
                                        <div class="text w-100">
                                            <h3 class="heading mb-2">Reserva tu auto de alquiler</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p><a href="#" class="btn btn-primary py-3 px-4">Reserva tu Auto Perfecto</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section ftco-no-pt bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center ftco-animate mb-5">
                <span class="subheading">Lo que ofrecemos</span>
                <h2 class="mb-2">Vehículos Destacados</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="carousel-car owl-carousel">
                    <div class="item">
                        <div class="car-wrap rounded ftco-animate">
                            <div class="img rounded d-flex align-items-end" style="background-image: url(images/car-1.jpg);">
                            </div>
                            <div class="text">
                                <h2 class="mb-0"><a href="#">Mercedes Gran Sedán</a></h2>
                                <div class="d-flex mb-3">
                                    <span class="cat">Chevrolet</span>
                                    <p class="price ml-auto">$500 <span>/día</span></p>
                                </div>
                                <p class="d-flex mb-0 d-block">
                                    <a href="#" class="btn btn-primary py-2 mr-1">Reservar ahora</a>
                                    <a href="#" class="btn btn-secondary py-2 ml-1">Detalles</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="car-wrap rounded ftco-animate">
                            <div class="img rounded d-flex align-items-end" style="background-image: url(images/car-2.jpg);">
                            </div>
                            <div class="text">
                                <h2 class="mb-0"><a href="#">Mercedes Gran Sedán</a></h2>
                                <div class="d-flex mb-3">
                                    <span class="cat">Chevrolet</span>
                                    <p class="price ml-auto">$500 <span>/día</span></p>
                                </div>
                                <p class="d-flex mb-0 d-block">
                                    <a href="#" class="btn btn-primary py-2 mr-1">Reservar ahora</a>
                                    <a href="#" class="btn btn-secondary py-2 ml-1">Detalles</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="car-wrap rounded ftco-animate">
                            <div class="img rounded d-flex align-items-end" style="background-image: url(images/car-3.jpg);">
                            </div>
                            <div class="text">
                                <h2 class="mb-0"><a href="#">Mercedes Gran Sedán</a></h2>
                                <div class="d-flex mb-3">
                                    <span class="cat">Chevrolet</span>
                                    <p class="price ml-auto">$500 <span>/día</span></p>
                                </div>
                                <p class="d-flex mb-0 d-block">
                                    <a href="#" class="btn btn-primary py-2 mr-1">Reservar ahora</a>
                                    <a href="#" class="btn btn-secondary py-2 ml-1">Detalles</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="car-wrap rounded ftco-animate">
                            <div class="img rounded d-flex align-items-end" style="background-image: url(images/car-4.jpg);">
                            </div>
                            <div class="text">
                                <h2 class="mb-0"><a href="#">Mercedes Gran Sedán</a></h2>
                                <div class="d-flex mb-3">
                                    <span class="cat">Chevrolet</span>
                                    <p class="price ml-auto">$500 <span>/día</span></p>
                                </div>
                                <p class="d-flex mb-0 d-block">
                                    <a href="#" class="btn btn-primary py-2 mr-1">Reservar ahora</a>
                                    <a href="#" class="btn btn-secondary py-2 ml-1">Detalles</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-about">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/about.jpg);">
            </div>
            <div class="col-md-6 wrap-about ftco-animate">
                <div class="heading-section heading-section-white pl-md-5">
                    <span class="subheading">Sobre nosotros</span>
                    <h2 class="mb-4">Bienvenido a Carbook</h2>

                    <p>Un pequeño río llamado Duden pasa cerca de su lugar y lo abastece con la regelialia necesaria. Es un país paradisíaco, en el que partes asadas de frases vuelan directo a tu boca.</p>
                    <p>En su camino se encontró con una copia. La copia advirtió al pequeño texto ciego, que de donde venía habría sido reescrito mil veces y todo lo que quedaba de su origen era la palabra "y", por lo que el pequeño texto ciego debía dar la vuelta y regresar a su propio y seguro país. Un pequeño río llamado Duden pasa cerca de su lugar y lo abastece con la regelialia necesaria. Es un país paradisíaco, en el que partes asadas de frases vuelan directo a tu boca.</p>
                    <p><a href="#" class="btn btn-primary py-3 px-4">Buscar vehículo</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">Servicios</span>
                <h2 class="mb-3">Nuestros Servicios Más Recientes</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="services services-2 w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-wedding-car"></span></div>
                    <div class="text w-100">
                        <h3 class="heading mb-2">Ceremonias de Boda</h3>
                        <p>Un pequeño río llamado Duden pasa cerca de su lugar y lo abastece con la regelialia necesaria.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="services services-2 w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-transportation"></span></div>
                    <div class="text w-100">
                        <h3 class="heading mb-2">Traslado en la Ciudad</h3>
                        <p>Un pequeño río llamado Duden pasa cerca de su lugar y lo abastece con la regelialia necesaria.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="services services-2 w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-car"></span></div>
                    <div class="text w-100">
                        <h3 class="heading mb-2">Traslado al Aeropuerto</h3>
                        <p>Un pequeño río llamado Duden pasa cerca de su lugar y lo abastece con la regelialia necesaria.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="services services-2 w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-transportation"></span></div>
                    <div class="text w-100">
                        <h3 class="heading mb-2">Tour por Toda la Ciudad</h3>
                        <p>Un pequeño río llamado Duden pasa cerca de su lugar y lo abastece con la regelialia necesaria.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-intro" style="background-image: url(images/bg_3.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-6 heading-section heading-section-white ftco-animate">
                <h2 class="mb-3">¿Quieres ganar dinero con nosotros? ¡No llegues tarde!</h2>
                <a href="#" class="btn btn-primary btn-lg">Conviértete en Conductor</a>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section testimony-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">Testimonios</span>
                <h2 class="mb-3">Clientes Satisfechos</h2>
            </div>
        </div>
        <div class="row ftco-animate">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel ftco-owl">
                    <div class="item">
                        <div class="testimony-wrap rounded text-center py-4 pb-5">
                            <div class="user-img mb-2" style="background-image: url(images/person_1.jpg)">
                            </div>
                            <div class="text pt-4">
                                <p class="mb-4">Muy, muy lejos, detrás de las montañas de palabras, lejos de los países de Vokalia y Consonantia, viven los textos ciegos.</p>
                                <p class="name">Roger Scott</p>
                                <span class="position">Gerente de Marketing</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap rounded text-center py-4 pb-5">
                            <div class="user-img mb-2" style="background-image: url(images/person_2.jpg)">
                            </div>
                            <div class="text pt-4">
                                <p class="mb-4">Muy, muy lejos, detrás de las montañas de palabras, lejos de los países de Vokalia y Consonantia, viven los textos ciegos.</p>
                                <p class="name">Roger Scott</p>
                                <span class="position">Diseñador de Interfaces</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap rounded text-center py-4 pb-5">
                            <div class="user-img mb-2" style="background-image: url(images/person_3.jpg)">
                            </div>
                            <div class="text pt-4">
                                <p class="mb-4">Muy, muy lejos, detrás de las montañas de palabras, lejos de los países de Vokalia y Consonantia, viven los textos ciegos.</p>
                                <p class="name">Roger Scott</p>
                                <span class="position">Diseñador UI</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap rounded text-center py-4 pb-5">
                            <div class="user-img mb-2" style="background-image: url(images/person_1.jpg)">
                            </div>
                            <div class="text pt-4">
                                <p class="mb-4">Muy, muy lejos, detrás de las montañas de palabras, lejos de los países de Vokalia y Consonantia, viven los textos ciegos.</p>
                                <p class="name">Roger Scott</p>
                                <span class="position">Desarrollador Web</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap rounded text-center py-4 pb-5">
                            <div class="user-img mb-2" style="background-image: url(images/person_1.jpg)">
                            </div>
                            <div class="text pt-4">
                                <p class="mb-4">Muy, muy lejos, detrás de las montañas de palabras, lejos de los países de Vokalia y Consonantia, viven los textos ciegos.</p>
                                <p class="name">Roger Scott</p>
                                <span class="position">Analista de Sistemas</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Blog</span>
                <h2>Blog Reciente</h2>
            </div>
        </div>
        <div class="row d-flex">
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry justify-content-end">
                    <a href="blog-single.html" class="block-20" style="background-image: url('images/image_1.jpg');">
                    </a>
                    <div class="text pt-4">
                        <div class="meta mb-3">
                            <div><a href="#">29 de octubre, 2019</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                        <h3 class="heading mt-2"><a href="#">Por qué la generación de leads es clave para el crecimiento empresarial</a></h3>
                        <p><a href="#" class="btn btn-primary">Leer más</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry justify-content-end">
                    <a href="blog-single.html" class="block-20" style="background-image: url('images/image_2.jpg');">
                    </a>
                    <div class="text pt-4">
                        <div class="meta mb-3">
                            <div><a href="#">29 de octubre, 2019</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                        <h3 class="heading mt-2"><a href="#">Por qué la generación de leads es clave para el crecimiento empresarial</a></h3>
                        <p><a href="#" class="btn btn-primary">Leer más</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry">
                    <a href="blog-single.html" class="block-20" style="background-image: url('images/image_3.jpg');">
                    </a>
                    <div class="text pt-4">
                        <div class="meta mb-3">
                            <div><a href="#">29 de octubre, 2019</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                        <h3 class="heading mt-2"><a href="#">Por qué la generación de leads es clave para el crecimiento empresarial</a></h3>
                        <p><a href="#" class="btn btn-primary">Leer más</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-counter ftco-section img bg-light" id="section-counter">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text text-border d-flex align-items-center">
                        <strong class="number" data-number="60">0</strong>
                        <span>Años de <br>Experiencia</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text text-border d-flex align-items-center">
                        <strong class="number" data-number="1090">0</strong>
                        <span>Total de <br>Vehículos</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text text-border d-flex align-items-center">
                        <strong class="number" data-number="2590">0</strong>
                        <span>Clientes <br>Satisfechos</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text d-flex align-items-center">
                        <strong class="number" data-number="67">0</strong>
                        <span>Total de <br>Sucursales</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
