<a href="https://colorlib.com/wp/templates/">
    <img src="https://colorlib.com/wp/wp-content/uploads/sites/2/colorlib-push-logo.png" alt="Colorlib Logo">
</a>

<h1 style="text-align:center;">¡Gracias por usar nuestra plantilla!</h1>

<p style="text-align:center;">
    Para ver más plantillas increíbles, por favor visita <strong>
        <a href="https://colorlib.com/wp/templates/">Colorlib</a>
    </strong>.
</p>

<br>

<p style="text-align:center; color:red;">
    <strong>La información de derechos de autor de esta plantilla no puede ser modificada ni eliminada a menos que adquieras una licencia.</strong>
</p>

<p style="text-align:center;">
    <strong>Eliminar esta información sin una licencia puede resultar en la suspensión de tu servicio de hosting y/o dominio.</strong>
</p>

<p style="text-align:center;">
    <strong>
        Más información sobre la licencia está disponible
        <a href="https://colorlib.com/wp/licence/">aquí</a>
    </strong>.
</p>

<style>
    img {
        margin: 0 auto;
        display: block;
        margin-top: 20%;
    }
</style>